body{
     background-image: url("/images/background.jpg");
     background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
}

html{
    scroll-behavior: smooth;
}


button{
    border-radius: 30%;
}
